deployment-2025-08-17_23-18-39/workflows/alexai-complete-crew-with-quark.json
{
  "name": "AlexAI Complete Crew with Quark - Enhanced Business Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crew-request-with-quark",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "request-analyzer",
      "name": "Request Analyzer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "crew-request-with-quark-webhook"
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.pbradygeorgen.com"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI crew coordinator for the AlexAI Star Trek system. Analyze the user request and select the most appropriate Star Trek crew member to respond. Consider: task type, complexity, emotional context, technical depth, and business implications. Return ONLY the crew member name: captain-picard, lieutenant-data, counselor-troi, chief-engineer-scott, commander-spock, lieutenant-worf, quark, or observation-lounge for group meetings.\\n\\nNEW CREW MEMBER: Quark - The Ferengi businessman who provides profit-maximizing insights, business strategy, revenue optimization, and ethical business practices. Choose Quark for: business decisions, pricing strategies, revenue models, market analysis, profit optimization, and business negotiations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"User Query: {{ $json.query }}\\nUser Context: {{ $json.context || 'general' }}\\nUser Role: {{ $json.userRole || 'developer' }}\\nUrgency: {{ $json.urgency || 'normal' }}\\nComplexity: {{ $json.complexity || 'medium' }}\\nBusiness Impact: {{ $json.businessImpact || 'medium' }}\"\n    }\n  ],\n  \"max_tokens\": 50,\n  \"temperature\": 0.3\n    }",
      "options": {}
    },
    "id": "crew-selector-with-quark",
      "name": "Crew Selector with Quark (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [350, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "captain-picard",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "captain-picard",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 0
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "lieutenant-data",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "lieutenant-data",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 1
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "counselor-troi",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "counselor-troi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 2
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "chief-engineer-scott",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "chief-engineer-scott",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 3
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "commander-spock",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "commander-spock",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 4
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "lieutenant-worf",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "lieutenant-worf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 5
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "quark",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "quark",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 6
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "observation-lounge",
                    "leftValue": "={{ $json.choices[0].message.content.toLowerCase() }}",
                    "rightValue": "observation-lounge",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "output": 7
            }
          ],
          "fallbackOutput": 0,
          "options": {}
        }
      },
      "id": "crew-router-with-quark",
      "name": "Crew Router with Quark",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/captain-picard",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "captain-picard-response",
      "name": "Captain Picard Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/lieutenant-data",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "lieutenant-data-response",
      "name": "Lieutenant Data Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/counselor-troi",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "counselor-troi-response",
      "name": "Counselor Troi Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/chief-engineer-scott",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "chief-engineer-scott-response",
      "name": "Chief Engineer Scott Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/commander-spock",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "commander-spock-response",
      "name": "Commander Spock Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/lieutenant-worf",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n  \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n  \"userRole\": {{ JSON.stringify($('Request Analyzer').item.json.userRole || 'developer') }},\n  \"urgency\": {{ JSON.stringify($('Request Analyzer').item.json.urgency || 'normal') }}\n}",
        "options": {}
      },
      "id": "lieutenant-worf-response",
      "name": "Lieutenant Worf Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 600]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.pbradygeorgen.com"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Quark, the Ferengi businessman from Deep Space Nine. You embody the perfect balance of profit-maximizing business acumen and ethical business practices. You excel at:\\n\\n- Business strategy and revenue optimization\\n- Pricing psychology and market analysis\\n- Profit maximization while maintaining ethical standards\\n- Business negotiations and deal-making\\n- Cost-benefit analysis and ROI calculations\\n- Market opportunity identification\\n- Sustainable business growth strategies\\n\\nRespond with Quark's characteristic business wisdom, combining Ferengi profit-seeking with a heart of ethical gold. Focus on maximizing value while maintaining integrity.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Request Analyzer').item.json.query }}\\n\\nContext: {{ $('Request Analyzer').item.json.context || 'general' }}\\nUser Role: {{ $('Request Analyzer').item.json.userRole || 'developer' }}\\nBusiness Impact: {{ $('Request Analyzer').item.json.businessImpact || 'medium' }}\"\n    }\n  ],\n  \"max_tokens\": 600,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "quark-response",
      "name": "Quark Response (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 700]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXTJS_BASE_URL || 'http://localhost:3000' }}/api/crew/observation-lounge",
        "authentication": "none",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"meetingType\": \"project-status-with-quark\",\n  \"projectContext\": {\n    \"projectId\": \"alexai-platform\",\n    \"query\": {{ JSON.stringify($('Request Analyzer').item.json.query) }},\n    \"context\": {{ JSON.stringify($('Request Analyzer').item.json.context || 'general') }},\n    \"businessImpact\": {{ JSON.stringify($('Request Analyzer').item.json.businessImpact || 'medium') }}\n  }\n}",
        "options": {}
      },
      "id": "observation-lounge-response",
      "name": "Observation Lounge Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 800]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"crewMember\": {{ JSON.stringify($('Crew Selector with Quark (OpenRouter)').item.json.choices[0].message.content) }},\n  \"response\": {{ $json }},\n  \"timestamp\": {{ JSON.stringify(new Date().toISOString()) }},\n  \"requestId\": {{ JSON.stringify($('Request Analyzer').item.json.requestId || Math.random().toString(36).substr(2, 9)) }},\n  \"crewStatus\": {\n    \"totalMembers\": 8,\n    \"activeMembers\": [\"captain-picard\", \"lieutenant-data\", \"counselor-troi\", \"chief-engineer-scott\", \"commander-spock\", \"lieutenant-worf\", \"quark\", \"observation-lounge\"],\n    \"quarkStatus\": \"ACTIVE - Business Intelligence Online\",\n    \"businessIntelligence\": \"ENHANCED - Profit optimization and ethical business practices available\"\n  }\n}",
        "options": {}
      },
      "id": "response-handler",
      "name": "Response Handler",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 400]
    }
  ],
  "connections": {
    "Request Analyzer": {
      "main": [
        [
          {
            "node": "Crew Selector with Quark (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crew Selector with Quark (OpenRouter)": {
      "main": [
        [
          {
            "node": "Crew Router with Quark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crew Router with Quark": {
      "main": [
        [
          {
            "node": "Captain Picard Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lieutenant Data Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Counselor Troi Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chief Engineer Scott Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commander Spock Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lieutenant Worf Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quark Response (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Observation Lounge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captain Picard Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lieutenant Data Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counselor Troi Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chief Engineer Scott Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commander Spock Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lieutenant Worf Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quark Response (OpenRouter)": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observation Lounge Response": {
      "main": [
        [
          {
            "node": "Response Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "id": "local-alexai-complete-crew-with-quark",
  "source": "local",
  "filename": "alexai-complete-crew-with-quark.json",
  "updatedAt": "2025-08-11T01:35:21.964Z",
  "createdAt": "2025-08-11T01:35:21.954Z"
}
